@tailwind base;
@tailwind components;
@tailwind utilities;

.side-container {
  background-image: linear-gradient(
    to top,
    var(--color-bgColor1),
    var(--color-bgColor2),
    var(--color-bgColor3)
  );
}

@keyframes showValidation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.active-error {
  animation: showValidation 0.3s;
}
